---
import { Content } from './content'
import { Cards } from './cards'
import { Logos } from './logos'
import Section from './section.astro'
---

<Section>
  <Content
    slot='content'
    client:idle
  />
  <Cards
    slot='animation'
    client:idle
  />
  <Logos
    slot='logos'
    client:idle
  />
</Section>
