---
import { Beams } from './beams'
import { Content } from './content'
import { Logos } from './logos'
import Section from './section.astro'
---

<Section>
  <Content
    slot='content'
    client:idle
  />
  <Beams
    slot='animation'
    client:idle
  />
  <Logos
    slot='logos'
    client:idle
  />
</Section>
