---
import Layout from '#layouts/layout.astro'
---

<Layout noindex={true}>
  <section class='flex flex-col px-4 pt-10 pb-32 md:px-8 md:pt-32 lg:px-16 lg:pt-40 lg:pb-52 xl:px-24'>
    <div class='mx-auto max-w-4xl'>
      <h1 class='mb-4 text-center text-4xl font-[650] tracking-[-.01em] md:text-5xl lg:text-6xl'>
        BLUEALPHA TERMS OF SERVICE
      </h1>
      <p class='mb-12 text-center text-lg text-gray-600'>Last updated November 29, 2024</p>

      <div class='prose prose-gray max-w-none'>
        <p class='mb-8 text-base leading-relaxed'>
          These Terms of Service (these "Terms") govern the Order Form (defined below) and the related documents and
          exhibits entered into between BlueAlpha Labs Inc ("BlueAlpha") and the Customer listed on the Order Form (the
          "Customer"). These Terms govern Customer's access to or use of the Offerings (defined below). Customer and
          BlueAlpha are referred to in this Agreement individually each as a "Party" and together as the "Parties."
        </p>

        <h2 class='mt-12 mb-6 text-2xl font-[650] tracking-[-.01em]'>1. DEFINITIONS</h2>
        <p class='mb-4 text-base leading-relaxed'>
          Capitalized terms used in these Terms will have the below meanings.
        </p>
        <ol class='mb-8 list-decimal space-y-4 pl-6'>
          <li>
            <strong>"Affiliate"</strong> means, with respect to any specified Person, any other Person that, directly or
            indirectly through one or more intermediaries, Controls, is Controlled by or is under common Control with such
            specified Person. The term "Control" means the possession, direct or indirect, of the power to direct or cause
            the direction of the management and policies of a Person, whether through the ownership of voting interests,
            by contract or otherwise.
          </li>
          <li>
            <strong>"Agreement"</strong> means these Terms along with all schedules, exhibits and addenda incorporated into
            these Terms, including the Product-Specific Terms and the Beta and Trial Terms, entered into by the Parties and
            as amended or modified from time to time.
          </li>
          <li>
            <strong>"Applicable Data Protection Laws"</strong> means any data protection, privacy, or data security laws,
            rules or regulations applicable to BlueAlpha's provision or Customer's use of an Offering.
          </li>
          <li>
            <strong>"Applicable Law"</strong> means any of the following that relate to the access or use of an Offering:
            (a) any statute, legislation or regulation having the force of law that is issued by any governmental entity
            of local, municipal, regional, national or international authority having jurisdiction and binding authority
            over the applicable Party; (b) any treaty, multinational convention or the like having the force or law and that
            is binding on the applicable Party; (c) the common or general law; (d) any court order, judgment or decree that
            is binding on the applicable Party; (d) any applicable industry code, policy or standard enforceable by law that
            is binding on the applicable Party; or (e) any applicable direction, policy or order that is given by a regulator
            having binding authority on the applicable Party; and (f) any subsequent amendments, re-enactments, consolidations,
            replacements or new implementations of the foregoing.
          </li>
          <li>
            <strong>"Authorized Users"</strong> means identified individuals (such as individual employees, consultants and
            contractors performing work on Customer's behalf and other individuals accessing and using an Offering for Customer's
            benefit) authorized by Customer to access or use an Offering.
          </li>
          <li>
            <strong>"Marketing Recommendations"</strong> means any data, information or other recommendations regarding the
            structuring, operation, performance, optimization, analysis or other adjustment of Customer's digital advertising
            campaigns or any experiments or tests related to the foregoing, in all cases that are provided by or on behalf
            of BlueAlpha to Customer as part of Offerings.
          </li>
          <li><strong>"Change Order"</strong> means a written change order to an SOW executed by both Parties.</li>
          <li>
            <strong>"Confidential Information"</strong> means any information and documentation of a Party or its Affiliates
            disclosed to or accessed by the other Party in connection with this Agreement that is (a) marked or verbally
            designated as "confidential" or the like or (b) that given the circumstances surrounding its disclosure or the
            nature of the information a reasonable person would conclude to be confidential. Confidential Information does
            not include (i) any information that (1) becomes generally known to the public without breach of any obligation
            owed to the Disclosing Party, (2) was known to the Receiving Party before receipt from the Disclosing Party without
            breach of any obligation (and without a duty of confidentiality) owed to the Disclosing Party, (3) is received
            from a third party without breach of any obligation (and without a duty of confidentiality) owed to the Disclosing
            Party, or (4) was independently developed by the Receiving Party, or (ii) any Feedback. Without limiting the
            foregoing, BlueAlpha's Confidential Information includes the non-public aspects of and information regarding
            (A) any Offerings and any related product plans, technology, data and other technical information (including
            Documentation, the structure and organization, the underlying algorithms and other internals, the protocols,
            data structures and other externals, and the source code of any of the foregoing) and (B) business negotiations
            with Customer with respect to this Agreement.
          </li>
          <li>
            <strong>"Customer Campaign Data"</strong> means any end-user data or individual-level operations data from Customer's
            digital advertising campaigns (including device data and click-, view-, impression-, and viewability- data).
          </li>
          <li>
            <strong>"Customer Data"</strong> means any data, information or other material provided or otherwise made available
            to BlueAlpha by or on behalf of Customer in connection with an Offering (for clarity, including Customer Campaign
            Data that is provided or otherwise made available to BlueAlpha by or on behalf of Customer in connection with
            an Offering).
          </li>
          <li>
            <strong>"Data Processing Addendum"</strong> means the BlueAlpha data processing addendum set forth in Exhibit
            A.
          </li>
          <li>
            <strong>"Deliverable"</strong> means any deliverable developed by BlueAlpha in performance of Professional Services
            and delivered to Customer under an SOW.
          </li>
          <li><strong>"Deliverable Notice"</strong> has the meaning set forth in Section 8.3.</li>
          <li><strong>"Disclosing Party"</strong> has the meaning set forth in Section 11.1.</li>
          <li><strong>"Dispute"</strong> has the meaning set forth in Section 14.17.</li>
          <li>
            <strong>"Documentation"</strong> means any documentation (including online, printed or other documentation) and
            any technical or legal requirements for an Offering. Documentation may be made available to Customer through
            the Site.
          </li>
          <li>
            <strong>"Feedback"</strong> means any improvements, suggestions or other feedback concerning the Offerings or
            the Site.
          </li>
          <li>
            <strong>"Fees"</strong> means the amounts payable by Customer to BlueAlpha under the terms of this Agreement
            or the Order Form.
          </li>
          <li><strong>"Force Majeure"</strong> has the meaning set forth in Section 14.2.</li>
          <li>
            <strong>"BlueAlpha Data"</strong> means any data and information provided or otherwise made available by or on
            behalf of BlueAlpha, its licensors and service providers, or their respective data providers in connection with
            Online Services or Professional Services. BlueAlpha Data includes Marketing Recommendations but, for clarity,
            excludes Customer Data.
          </li>
          <li>
            <strong>"Offering"</strong> means Online Services and Professional Services made available by or for BlueAlpha
            and any information, data, tools, materials, services and rights made available to Customer by or for BlueAlpha
            in connection with the foregoing, including BlueAlpha Data and Documentation.
          </li>
          <li>
            <strong>"Online Services"</strong> means an online or cloud-based service or feature made available by or for
            BlueAlpha, whether made available for free, as part of a subscription, as an update or upgrade, for a fee or
            any other basis.
          </li>
          <li>
            <strong>"Order Form"</strong> means the written agreement for the purchase and provision of Offerings to Customer
            that is executed by the Parties in connection herewith.
          </li>
          <li>
            <strong>"Person"</strong> means any individual, partnership, corporation, limited liability company, association,
            joint stock company, trust, joint venture or unincorporated organization.
          </li>
          <li>
            <strong>"Personal Information"</strong> means any data that identifies, relates, describes, is reasonably capable
            of being associated with, or could reasonably be linked, directly or indirectly, with a particular individual
            or is defined as "personally identifiable information," "personal information," "personal data" or similar terms
            under Applicable Data Protection Laws.
          </li>
          <li>
            <strong>"Policies"</strong> means all policies and guidelines made available by BlueAlpha to Customer, including
            the Privacy Policy.
          </li>
          <li><strong>"Privacy Policy"</strong> has the meaning set forth in Section 4.</li>
          <li>
            <strong>"Professional Services"</strong> means any implementation and other professional services provided by
            or for BlueAlpha to Customer under an SOW.
          </li>
          <li><strong>"Receiving Party"</strong> has the meaning set forth in Section 11.1.</li>
          <li>
            <strong>"Sensitive Personal Information"</strong> means Social Security number, credit or debit card number,
            financial account number, driver's license or other governmental ID number, medical information, health insurance
            information, information related to race or ethnic origin, religion or other beliefs, political affiliation or
            opinions, genetic or biometric data, criminal background, Protected Health Information ("PHI"), sexual orientation,
            trade union membership, or any other information that may pose a risk of harm to an individual if improperly
            accessed, disclosed or used.
          </li>
          <li>
            <strong>"Site"</strong> means, collectively, the BlueAlpha websites, including the website at bluealpha.ai and
            any other websites related to the Offerings.
          </li>
          <li>
            <strong>"Statement of Work"</strong> or <strong>"SOW"</strong> means a statement of work for the purchase and
            provision of Professional Services to Customer that is executed by the Parties as part of the Order Form.
          </li>
          <li><strong>"Term"</strong> has the meaning set forth in Section 13.1.</li>
          <li>
            <strong>"Third-Party Services"</strong> means any software, information, data, tools, materials, services and
            rights made available by a third party in connection with an Offering.
          </li>
          <li><strong>"Third-Party Terms"</strong> has the meaning set forth in Section 7.4.</li>
          <li>
            <strong>"Updates"</strong> means security and hot fixes, patches and other updates to the extent made available
            to Customer by or for BlueAlpha as an update.
          </li>
          <li>
            <strong>"Upgrades"</strong> means new versions of Offerings, or add-ons or additional products associated with
            Offerings, to the extent made available to Customer by or for BlueAlpha as an upgrade.
          </li>
          <li>
            <strong>"Usage Data"</strong> means data and information regarding, gathered through or otherwise generated from
            access to and use of any Offerings.
          </li>
          <li>
            <strong>"Work Product"</strong> means all software, tools, materials, works of authorship, information, data,
            ideas, inventions and other innovations of any kind, including any Deliverables, Documentation or other materials,
            and any improvements or modifications to the foregoing, that BlueAlpha, or personnel working for or through BlueAlpha,
            may author, invent, conceive, create, develop or reduce to practice, alone or jointly with others, in the course
            of performing the Professional Services or as a result of such Professional Services, whether or not eligible
            for patent, copyright, trademark, trade secret or other legal protection.
          </li>
        </ol>

        <h2 class='mt-12 mb-6 text-2xl font-[650] tracking-[-.01em]'>2. SCOPE</h2>

        <h3 class='mb-4 text-xl font-[600]'>2.2 Acceptance.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Customer agrees to this Agreement on behalf of the company or other legal entity for which Customer is acting
          (for example, as an employee or contractor). Customer represents and warrants that it has the right, authority
          and capacity to act on behalf of and bind such entity.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>2.3. Scope of Terms.</h3>
        <p class='mb-8 text-base leading-relaxed'>
          This Agreement governs the access to or use of the Offerings by Customer. Unless expressly agreed otherwise in
          writing between the Parties, this Agreement will be incorporated by reference into and govern the Order Form.
          The Parties hereby incorporate by reference all schedules, exhibits and addenda attached to or otherwise
          referenced in this Agreement into this Agreement, including the Product-Specific Terms and the Beta and Trial
          Terms as made available to Customer by BlueAlpha (including via email or in the Customer's account), and in
          each case as may be amended and modified from time to time by BlueAlpha in accordance with Section 14.12. The
          access to and use of certain Offerings are subject to additional terms set forth in the Product-Specific
          Terms, Beta and Trial Terms, the Documentation or Policies.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>3. Other Documents.</h3>
        <p class='mb-8 text-base leading-relaxed'>
          The Order Form will be governed exclusively by the terms and conditions of this Agreement. Any purchase order,
          order receipt, acceptance, confirmation, correspondence, online terms or other confirmatory documents
          presented by Customer at any time will be deemed to be presented for payment purposes only. BlueAlpha hereby
          rejects, and will not be bound by, any additional or different terms contained in such documents. Unless
          otherwise expressly agreed in a writing between the Parties that references the modification of this
          Agreement, the terms of the Order Form will take precedence over any conflicting or inconsistent term in this
          Agreement (including any applicable Product-Specific Terms and Beta and Trial Terms), but only with respect to
          the specific Offerings purchased by Customer under the Order Form. The terms of any applicable
          Product-Specific Terms and Beta and Trial Terms will take precedence over any conflicting or inconsistent term
          in these Terms only with respect to the specific Offering that is accessed or used by Customer pursuant to
          such Product-Specific Terms or Beta and Trial Terms.
        </p>

        <h2 class='mt-12 mb-6 text-2xl font-[650] tracking-[-.01em]'>3. ACCOUNT</h2>

        <h3 class='mb-4 text-xl font-[600]'>3.1. Customer Accounts.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Customer is responsible for anyone who purchases, accesses or uses Offerings through Customer or Customer's
          account credentials (including all Authorized Users), and any act or omission of any such person that is not
          in compliance with this Agreement will constitute an act or omission by Customer. Customer is responsible for
          safeguarding its account credentials and will not disclose its account credentials to any third party.
          Customer will notify BlueAlpha promptly of any actual or suspected unauthorized access to or use of its
          account or the accounts of any Authorized Users. If Customer's account is canceled, terminated or suspended,
          Customer and, if applicable, any Authorized Users, will lose the ability to access and use such account and
          any Customer Data that Customer has uploaded or stored using any Offerings. BlueAlpha may immediately delete
          such Customer Data at the time of cancellation, termination or suspension of Customer's account and BlueAlpha
          will not be liable to Customer or any third party in connection with such deletion of Customer Data or
          Customer's loss of access and use of such account.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>3.2. Customer Account Information.</h3>
        <p class='mb-8 text-base leading-relaxed'>
          Any account information Customer provides to BlueAlpha must be materially accurate, current and complete, and
          Customer will update such information to keep it materially accurate, current and complete. BlueAlpha reserves
          the right to suspend or terminate Customer's account and access to and use of the Offerings if any account
          information Customer provides to BlueAlpha proves to be inaccurate, not current or incomplete.
        </p>

        <h2 class='mt-12 mb-6 text-2xl font-[650] tracking-[-.01em]'>4. PRIVACY.</h2>
        <p class='mb-8 text-base leading-relaxed'>
          BlueAlpha's Privacy Policy (available at https://bluealpha.ai/privacy-policy) sets forth how BlueAlpha may
          collect, use, store and otherwise process Personal Information relating to Customer's personnel and the rights
          of Customer's personnel with respect to their Personal Information ("Privacy Policy"). Customer acknowledges
          that it has read and understands the Privacy Policy.
        </p>

        <h2 class='mt-12 mb-6 text-2xl font-[650] tracking-[-.01em]'>5. DATA</h2>

        <h3 class='mb-4 text-xl font-[600]'>5.1. Data Processing Addendum.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Unless otherwise expressly stated in this Agreement or an SOW, the Customer shall not provide BlueAlpha any
          data which constitutes Personal Information. To the extent Customer and BlueAlpha agree that Customer may
          share Personal Information with BlueAlpha, BlueAlpha and Customer will enter into a Data Processing Addendum
          which shall apply in addition to the terms of this Section 5 for each Offering.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>5.2. Customer Data.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          In order for Customer to access and use certain Offerings, or for BlueAlpha to provide Customer with certain
          services, Customer may provide Customer Data to BlueAlpha. When Customer provides or makes accessible Customer
          Data to BlueAlpha, Customer hereby grants a non-exclusive, transferable (in accordance with Section 14.7),
          worldwide, royalty-free and fully paid-up right and license to BlueAlpha and its designees to use, reproduce,
          modify, perform and display, and distribute and make available the anonymized and aggregated results of any
          analysis of Customer Data solely in order to provide, develop, support and improve the Offerings and other
          BlueAlpha services (including, for avoidance of doubt, for use by other customers). For the avoidance of
          doubt, in no event shall BlueAlpha sell any Customer Data to third parties or otherwise make any deanonymized
          or unaggregated Customer Data available to any third-parties other than as necessary in order to render the
          services contemplated under this Agreement. Customer (a) is responsible for ensuring that its provision of
          Customer Data to BlueAlpha for its use in connection with any Offering will comply with all Applicable Laws,
          including Applicable Data Protection Laws, and this Agreement, and (b) represents and warrants that
          BlueAlpha's receipt or use of Customer Data pursuant to this Agreement will not infringe or misappropriate any
          intellectual property or proprietary rights of any Person (including privacy or publicity rights) or violate
          any Applicable Laws, including Applicable Data Protection Laws. Without limiting the generality of the
          foregoing, Customer represents and warrants that, with respect to Customer Data that constitutes Personal
          Information, Customer will provide any legally provided notices to and obtain any required consent from any
          individual whose Personal Information Customer makes available to BlueAlpha or that BlueAlpha collects or
          otherwise processes on behalf of Customer pursuant to this Agreement.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>5.3. Sensitive Personal Information.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Except as expressly requested by BlueAlpha in writing, Customer will not upload or otherwise make available to
          BlueAlpha any Sensitive Personal Information, including any files containing Sensitive Personal Information,
          in connection with Customer's use of any Offering.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>5.4 Consent to Experiment Management.</h3>
        <p class='mb-8 text-base leading-relaxed'>
          To the extent Customer requests such service, Customer hereby consents and agrees to BlueAlpha's access to and
          use of Customer's advertising channels and related APIs for the purpose of independently designing,
          implementing, and managing Customer campaigns, incrementality measurement experiments, and related geographic
          targeting in connection with the Offerings.
        </p>

        <h2 class='mt-12 mb-6 text-2xl font-[650] tracking-[-.01em]'>6. PAYMENT</h2>

        <h3 class='mb-4 text-xl font-[600]'>6.1. Fees.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Unless otherwise specified in the applicable Order Form, within thirty (30) days of receipt of an invoice from
          BlueAlpha or by the payment date set forth in the Order Form, Customer will pay to BlueAlpha all Fees due by
          the means specified in the Order Form. Unless otherwise specified in the Order Form, all payments under this
          Agreement will be made in U.S. Dollars. Customer is responsible for any fees associated with payment of Fees,
          including transaction fees and bank fees.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>6.2. Taxes.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Payments made under this Agreement will be paid in full without deduction or set-off for any withholding
          taxes, levies, imports, duties, charges and fees imposed by any governmental taxing authority except as
          required by law. If Customer is required to make any such deduction, then Customer will pay to BlueAlpha such
          additional amounts as are necessary to ensure BlueAlpha's receipt of the full amount that BlueAlpha would have
          received but for the deduction. Customer will be responsible for, and will pay promptly, all taxes, levies,
          imports, duties, charges and fees of any kind (including sales, use and withholding taxes) associated with any
          purchase or Customer's receipt or use of the Offerings, except for taxes based on BlueAlpha's net income. In
          the event that BlueAlpha is required to collect any tax for which Customer is responsible, Customer will pay
          such tax directly to BlueAlpha. BlueAlpha reserves the right to collect any applicable sales, use or value
          added tax.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>6.3. Billing.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Customer may be asked to provide BlueAlpha customary billing information, such as name, company name, billing
          address and credit card information, either to BlueAlpha or its third party payment processor. When Customer
          provides billing information to BlueAlpha or its third party payment processor, Customer (a) represents and
          warrants that Customer is authorized to provide and use such billing information, and (b) authorizes BlueAlpha
          or its third party payment processor to charge its credit card or otherwise process Customer's payment for any
          Offerings or other fees incurred by Customer. If Customer is directed to BlueAlpha's third party payment
          processor, Customer may be subject to terms and conditions governing use of that third party's service and
          that third party's privacy policy. Customer will review such third party's terms and conditions and privacy
          policy before using such services.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>6.4. Late Payments.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          If Customer fails to timely pay any Fees in accordance with Section 6.1, then BlueAlpha may (a) suspend
          Customer's access to or use of any Offerings until all Fees are paid by Customer upon seven (7) days' written
          notice of pending suspension, and (b) charge Customer interest on the overdue amount at the monthly rate of
          1.5% or the maximum interest rate permitted by law, whichever is less, for each calendar month that the
          payment is overdue.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>6.5. Subscription Term.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          The length of Customer's subscription to each Offering will be indicated in the Order Form. At the end of the
          subscription term for an Offering, the subscription will automatically renew at the then-current price and
          terms for the Offering unless otherwise indicated in the Order Form. BlueAlpha will provide Customer with
          thirty (30) days advance written notice of any proposed increase in subscription price in accordance with
          Section 14.12. If Customer does not cancel a subscription before the end of the current subscription term,
          Customer's subscription will automatically renew for the subscription term indicated in the Order Form.
          BlueAlpha may send Customer a reminder notice prior to the renewal date. Unless otherwise expressly provided
          for under this Agreement, all subscription fees are nonrefundable (except as required by law). Any statutory
          rights Customer may have under applicable law to cancel its subscription at an earlier time during the renewal
          term and to request a refund of the subscription fees for the unused part of the renewal period will remain
          unaffected by this provision.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>6.6. Expenses.</h3>
        <p class='mb-8 text-base leading-relaxed'>
          Customer will reimburse BlueAlpha for reasonable out-of-pocket expenses incurred by BlueAlpha or its personnel
          in connection with providing Professional Services.
        </p>

        <h2 class='mt-12 mb-6 text-2xl font-[650] tracking-[-.01em]'>7. ACCESS TO AND USE OF OFFERINGS</h2>

        <h3 class='mb-4 text-xl font-[600]'>7.1.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Subject to Customer's compliance with the terms and conditions of this Agreement, for any Offering consisting
          of Online Services that BlueAlpha makes available to Customer pursuant to the Order Form, BlueAlpha hereby
          grants Customer a non-exclusive, limited, revocable, non-transferable (except as provided in the Order Form),
          non-sublicensable (except as provided in applicable Product-Specific Terms or in the Order Form) right and
          license during the term specified in the Order Form to access and use such Offering, and any Documentation for
          such Offering made available by BlueAlpha, solely in the form made available by or for BlueAlpha and in
          accordance with the Documentation for the Offering and applicable Policies. Except as expressly set out in
          this Agreement or as provided for in the Order Form, Customer will not have any licenses or other rights with
          respect to such any Offering or any improvements, modifications or derivative works of the foregoing, or other
          materials or intellectual property rights of BlueAlpha, whether by implication, estoppel, statute, or
          otherwise. Additional rights and obligations that apply to Customer's access to and use of an Offering may be
          set forth in the Product-Specific Terms. Customer will be deemed to have taken any action that Customer
          permits, assists or facilitates any Authorized User or other person or entity to take related to this
          Agreement or any Offering.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>7.2. License Restrictions.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Except as expressly permitted in writing by BlueAlpha, Customer will not (and will not authorize, encourage or
          cooperate with any third party to):
        </p>
        <div class='mb-4 pl-6'>
          <p class='mb-2 text-base leading-relaxed'>
            <strong>7.2.1.</strong> Access or use any Offering: (a) by any means other than the interface BlueAlpha provides
            or authorizes; (b) other than in accordance with applicable Documentation or Policies; (c) for immoral, illegal
            or any other purpose which BlueAlphamay determine to be threatening, abusive or harmful; (d) in a manner that
            may infringe any intellectual property, contractual, proprietary or property right held by BlueAlpha or its Affiliates,
            licensors and service providers; or (e) in violation of any Applicable Law;
          </p>
          <p class='mb-2 text-base leading-relaxed'>
            <strong>7.2.2.</strong> Reproduce, modify, adapt, translate, port or create derivative works of all or any portion
            of any Offering, except as expressly permitted by Applicable Law notwithstanding a contractual prohibition to
            the contrary;
          </p>
          <p class='mb-2 text-base leading-relaxed'>
            <strong>7.2.3.</strong> Sublicense, distribute, transmit, sell, lease, rent, loan or otherwise make available
            all or any portion of any Offering (including any functionality of any Offering) to a third party or provide
            any functionality of any Offering to a third party (whether by uploading any materials or content to a network
            or file-sharing service or through any hosting, application services provider, service bureau, software-as-a-service
            or any other technology or service or otherwise);
          </p>
          <p class='mb-2 text-base leading-relaxed'>
            <strong>7.2.4.</strong> Engage in any decompiling, disassembling or other reverse engineering or otherwise attempting
            to discover, learn or study the structure or organization, underlying algorithms or other internals, protocols,
            data structures or other externals, or the source code of the Offerings, except as expressly permitted under
            the applicable law notwithstanding a contractual prohibition to the contrary;
          </p>
          <p class='mb-2 text-base leading-relaxed'>
            <strong>7.2.5.</strong> Remove, disable or otherwise limit the effectiveness of any technical protections, including
            those used by BlueAlpha to (a) manage, monitor, control or analyze the installation of, access to, or use of
            any Offering or (b) protect BlueAlpha's intellectual property rights;
          </p>
          <p class='mb-2 text-base leading-relaxed'>
            <strong>7.2.6.</strong> Attempt to probe, scan or test the vulnerability of any Offering or to breach or circumvent
            any security or authentication measures used by any Offering;
          </p>
          <p class='mb-2 text-base leading-relaxed'>
            <strong>7.2.7.</strong> Attempt to circumvent any capacity limits, Authorized User limits, or other license,
            timing or use restrictions associated with any Offering, or attempt to interfere with BlueAlpha's ability to
            audit or track such restrictions;
          </p>
          <p class='mb-2 text-base leading-relaxed'>
            <strong>7.2.8.</strong> Remove any copyright, trademark, patent, confidentiality or other proprietary rights
            notice from any Offering, Documentation or related material;
          </p>
          <p class='mb-2 text-base leading-relaxed'>
            <strong>7.2.9.</strong> Unbundle the component parts of any Offering for use separate from each other;
          </p>
          <p class='mb-2 text-base leading-relaxed'>
            <strong>7.2.10.</strong> Take any action (including the use of any third party software or services) that disables,
            interferes with, disrupts, burdens or interacts in an unauthorized manner with any part of any Offering (including
            any related devices, computer systems, servers or networks);
          </p>
          <p class='mb-2 text-base leading-relaxed'>
            <strong>7.2.11.</strong> Introduce any viruses, worms, defects, malware or any item of destructive nature through
            any Offering;
          </p>
          <p class='mb-2 text-base leading-relaxed'>
            <strong>7.2.12.</strong> Use the Offerings or BlueAlpha Data for competitive analysis (including benchmark testing)
            to create, train or improve (directly or indirectly) a product or service that substantially replicates any Offering,
            or to acquire any technical specifications or gain any competitive advantage;
          </p>
          <p class='mb-2 text-base leading-relaxed'>
            <strong>7.2.13.</strong> Pre-fetch, cache, index, copy, re-utilize, extract or store any data that is extracted
            or derived from an Offering via query by Customer;
          </p>
          <p class='mb-2 text-base leading-relaxed'>
            <strong>7.2.14.</strong> Use automated means (including "web crawlers," bots, robots, spiders, scrapers or other
            types of software or hardware technology) to collect content or information, download materials automatically
            or otherwise access any Offering;
          </p>
          <p class='mb-2 text-base leading-relaxed'>
            <strong>7.2.15.</strong> Provide Customer Data to any Offering that is illegal, hateful, obscene, threatening,
            incites violence, insulting, defamatory, invasive of privacy or contains graphic violence or is otherwise objectionable
            to third parties;
          </p>
          <p class='mb-2 text-base leading-relaxed'>
            <strong>7.2.16.</strong> Access or use any Offering for activities where the use or failure of the Offerings
            would reasonably be expected to lead to death, personal injury, or environmental or property damage;
          </p>
          <p class='mb-2 text-base leading-relaxed'>
            <strong>7.2.17.</strong> Use any Offering to access any other product or service in a manner that violates the
            terms of service of such other product or service; or
          </p>
          <p class='mb-2 text-base leading-relaxed'>
            <strong>7.2.18.</strong> Engage in any other conduct in connection with any Offering that may harm or otherwise
            expose BlueAlpha or any third party to liability.
          </p>
        </div>
        <p class='mb-4 text-base leading-relaxed'>
          If Customer becomes aware of any violation of the foregoing by an Authorized User, Customer will notify
          BlueAlpha immediately in writing of such violation and terminate immediately such Authorized User's access to
          the Offering.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>7.3 Changes to Offerings.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          BlueAlpha may from time to time modify or substitute an Offering, including the means of controlling access to
          or use of the Offerings. During the Term, any such changes will be made without additional cost to Customer,
          and BlueAlpha will provide Customer with reasonable advance notice of any such change, in a clear and
          comprehensive manner and indicating the justified reasons for such change, where required under Applicable
          Law. If such change materially and negatively impacts Customer's access to or use of the Offering, BlueAlpha
          will inform Customer reasonably in advance of the nature and timing of the change, and Customer may cancel its
          subscription to such Offering and will be entitled to a pro rata refund of any prepaid and unused fees for
          such Offering.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>7.4. Third-Party Services.</h3>
        <p class='mb-8 text-base leading-relaxed'>
          BlueAlpha may provide Customer with Third-Party Services in connection with Offerings. Any such Third-Party
          Services may be governed by different terms found in such Third-Party Services ("Third-Party Terms"). Customer
          is solely responsible for determining, obtaining and complying with all Third-Party Terms. BlueAlpha will have
          no responsibility for, and makes no representations and warranties regarding, (a) any Third-Party Services or
          Customer's access to or use of such Third-Party Services, and (b) Third-Party Terms and Customer's compliance
          with such Third-Party Terms.
        </p>

        <h2 class='mt-12 mb-6 text-2xl font-[650] tracking-[-.01em]'>8. PROFESSIONAL SERVICES</h2>

        <h3 class='mb-4 text-xl font-[600]'>8.1. Performance of Services.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Each Statement of Work will describe the scope of services to be provided by BlueAlpha, including applicable
          fees, Deliverables and other requirements. Each Statement of Work (and any subsequent Change Orders) will form
          a part of the Order Form and will be subject to all the terms and conditions of this Agreement. Subject to the
          terms and conditions of this Agreement and the applicable Statement of Work, BlueAlpha will use commercially
          reasonable efforts to perform (or cause to be performed) the Professional Services set forth in each Statement
          of Work and to deliver to Customer Deliverables according to the specifications and schedule set forth in each
          Statement of Work. Any material changes to any Statement of Work will be effective only if set forth in a
          Change Order.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>8.2. Personnel; On-Site Services.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          If BlueAlpha will send personnel to Customer's site or a third-party site designated by Customer, BlueAlpha
          will assign employees and subcontractors with suitable qualifications to perform the Professional Services.
          BlueAlpha may replace or change employees and subcontractors. If BlueAlpha provides Professional Services at
          Customer's site or a third-party site designated by Customer, then Customer will provide: (a) a suitable and
          safe work environment that is in a clean, lighted, safe and level condition, for BlueAlpha's employees and
          subcontractors while such employees and subcontractors are on Customer's premises; (b) adequate power sources,
          networks, telephone and data lines, and other utilities; and (c) personnel, information, documentation and
          other material as reasonably required by BlueAlpha. While on Customer's premises, BlueAlpha's employees and
          subcontractors will comply with reasonable security practices and procedures generally prescribed by Customer.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>8.3 Acceptance of Deliverables.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Unless expressly stated otherwise in a Statement of Work, Customer will have five (5) days from its receipt of
          any Deliverable to review and evaluate such Deliverable. If Customer provides BlueAlpha with detailed written
          notice of any material defects or non-conformity (a "Deliverable Notice") within five (5) days following
          Customer's receipt of any Deliverable, then BlueAlpha will use commercially reasonable efforts to revise and
          resubmit a corrected Deliverable to Customer, after which Customer will have five (5) days from receipt to
          review and evaluate such corrected Deliverable. If Customer again provides a Deliverable Notice to BlueAlpha
          within five (5) days following Customer's receipt of the corrected Deliverable, then, at BlueAlpha's option,
          (a) the Parties will repeat the described process or (b) BlueAlpha may terminate the portion of the SOW to
          which such Deliverable relates (and, in the event of such termination, the Parties will discuss in good faith
          a modification to the applicable fees). If Customer does not provide BlueAlpha with a Deliverable Notice
          within five (5) days following Customer's receipt of any Deliverable, such Deliverable will be deemed
          accepted.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>8.4. License to Deliverables.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Subject to Customer's performance of its obligations under this Agreement, BlueAlpha hereby grants Customer a
          limited, non-exclusive, non-transferable license to use the Deliverables for the purpose for which they are
          provided within Customer's enterprise only and solely for Customer's internal business purposes. The foregoing
          license will be perpetual and royalty-free unless otherwise stated in the applicable Statement of Work. For
          clarity, Deliverables constitute part of Professional Services.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>8.5. Ownership of Work Product.</h3>
        <p class='mb-8 text-base leading-relaxed'>
          Customer agrees that all Work Product will be the property of BlueAlpha, and, on behalf of itself and its
          Affiliates, hereby assigns and agrees to assign to BlueAlpha, all right, title and interest Customer or its
          Affiliates may have or later acquire in and to the Work Product and all intellectual property rights therein.
          Notwithstanding the foregoing, if Customer or its Affiliates retain any right, title or interest with respect
          to the Work Product, Customer, on behalf of itself and its Affiliates, hereby grants BlueAlpha a perpetual,
          exclusive, fully paid-up, royalty-free, sublicensable (through multiple tiers), irrevocable license under all
          applicable intellectual property rights to use, reproduce, distribute, display and perform (whether publicly
          or otherwise), prepare derivative works of and otherwise modify, make, have made, sell, offer to sell, import,
          and otherwise exploit all or any portion of the Work Product, in any form or media (now known or later
          developed) and without restriction of any kind. At BlueAlpha's request and expense, Customer will assist and
          cooperate with BlueAlpha in all reasonable respects and will execute documents, give testimony and take
          further acts as reasonably requested by BlueAlpha to acquire, transfer, maintain and enforce its intellectual
          property rights in and other legal protection for the Work Product.
        </p>

        <h2 class='mt-12 mb-6 text-2xl font-[650] tracking-[-.01em]'>9. SUPPORT</h2>

        <h3 class='mb-4 text-xl font-[600]'>9.1. Support.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Any technical support may be offered by BlueAlpha at its sole discretion. Notwithstanding the foregoing,
          BlueAlpha may make available certain support or maintenance for an Offering as set forth in the Order Form or
          the applicable Product-Specific Terms or Documentation. BlueAlpha's provision of any such support or
          maintenance is conditioned upon Customer's reasonably prompt installation of Updates and Upgrades.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>9.2. Updates and Upgrades.</h3>
        <p class='mb-8 text-base leading-relaxed'>
          BlueAlpha may make available or deliver to Customer certain Updates or Upgrades to the Offerings in its sole
          discretion, but has no obligation under this Agreement to do so. Customer is responsible for compliance with
          Documentation accompanying any such Updates or Upgrades. All Updates and Upgrades are subject to the same
          license and other terms as to the Offering to which they apply.
        </p>

        <h2 class='mt-12 mb-6 text-2xl font-[650] tracking-[-.01em]'>10. OWNERSHIP</h2>

        <h3 class='mb-4 text-xl font-[600]'>10.1. BlueAlpha's Proprietary Rights.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          BlueAlpha and its Affiliates, licensors and service providers own and reserve all right, title and interest in
          and to (a) the Offerings (and any derivative and successor products and services), BlueAlpha Data (to the
          extent BlueAlpha Data is not Customer Data), Documentation, and other data, information or material made
          available to Customer by or for BlueAlpha, including any copies of the foregoing and (b) any data, information
          or materials based on, derived from or otherwise using any of the foregoing (including Usage Data), except for
          those rights and licenses expressly granted to Customer under this Agreement. Customer will notify BlueAlpha
          promptly if it is notified of, knows of, or has a reasonable belief of an actual, potential or threatened
          violation of any of BlueAlpha's intellectual property rights and provide all information, resources and
          cooperation reasonably required by BlueAlpha in connection with such violation.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>10.2. Customer's Proprietary Rights.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Customer and its Affiliates, licensors and service providers own and reserve all, right, title and interest in
          and to the Customer Data and the Customer Campaign Data, except for those rights and licenses expressly
          granted to BlueAlpha under this Agreement.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>10.3. Customer Feedback.</h3>
        <p class='mb-8 text-base leading-relaxed'>
          Customer has no obligation to provide BlueAlpha with Feedback. If, however, Customer provides any Feedback,
          then Customer hereby grants to BlueAlpha and its designees a worldwide, irrevocable, royalty-free, fully
          paid-up, sublicensable (through multiple tiers), perpetual right and license to make, use, offer to sell,
          reproduce, modify, distribute, make available, publicly display and perform, disclose and otherwise exploit
          the Feedback without restriction or obligation. BlueAlpha and its Affiliates may use Feedback without
          restriction and without obligation to Customer.
        </p>

        <h2 class='mt-12 mb-6 text-2xl font-[650] tracking-[-.01em]'>11. CONFIDENTIALITY</h2>

        <h3 class='mb-4 text-xl font-[600]'>11.1. Non-Disclosure and Non-Use.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Customer or BlueAlpha (as the "Disclosing Party") may disclose or make available Confidential Information to
          the other Party (as the "Receiving Party") in connection with this Agreement. The Receiving Party will not
          disclose the Disclosing Party's Confidential Information to any third party without the Disclosing Party's
          prior written consent, other than to: (a) the Receiving Party's employees, agents, attorneys, financial
          advisors and consultants who need to know such information to carry out the purposes contemplated by this
          Agreement on a confidential basis and who are bound by restrictions regarding disclosure and use of such
          information comparable to and no less restrictive than those set forth in this Agreement; (b) if BlueAlpha is
          the Receiving Party, to Authorized Users; and (c) if Customer is the Receiving Party, to third parties who
          need to know such information to carry out the purposes contemplated by this Agreement and who are bound in
          writing by restrictions regarding disclosure and use of such information comparable to and no less restrictive
          than those set forth in this Agreement if (i) Customer provides prior written notice to BlueAlpha and (ii)
          such third party or its Affiliates do not provide services substantially similar to the Offering to which the
          Confidential Information relates or are a competitor of BlueAlpha. Customer will be liable for the use of
          BlueAlpha's Confidential Information by any such third party. The Receiving Party will use at least the same
          degree of care to prevent unauthorized use and disclosure of Confidential Information as the Receiving Party
          uses with respect to its own confidential information of like importance (but in no event less than a
          reasonable degree of care). The Receiving Party will only use the Disclosing Party's Confidential Information
          solely as necessary for the performance of the Receiving Party's obligations under this Agreement or as
          otherwise expressly permitted by this Agreement.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>11.2. Exceptions.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Without limiting Section 11.1, the Receiving Party may use or disclose Confidential Information to the extent
          (a) expressly approved by the Disclosing Party in writing or (b) the Receiving Party is legally compelled to
          disclose such Confidential Information provided. Prior to any such legally compelled disclosure, the Receiving
          Party will give the Disclosing Party reasonable advance notice of any such disclosure and will cooperate with
          the Disclosing Party in protecting against any such disclosure and, if applicable, obtaining a protective
          order narrowing the scope of such disclosure and/or use of the Confidential Information. For the avoidance of
          doubt, any Confidential Information disclosed pursuant to Section 11.2(b) shall continue to be subject to the
          restrictions set forth herein for all purposes other than such legally compelled disclosure.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>11.3. Injunctive Relief.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Without prejudice to any other rights or remedies that the Receiving Party may have under this Agreement or at
          law, the Receiving Party acknowledges and agrees that, due to the nature of the Confidential Information, any
          threatened or actual breach of its confidentiality obligations would result in irreparable and continuing
          damage to the Disclosing Party for which there would be no adequate remedy in damages and accordingly the
          Disclosing Party will be authorized and entitle to injunctive and other equitable relief in addition to any
          damages or other remedy to which it may be entitled.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>11.4. Other Agreements.</h3>
        <p class='mb-8 text-base leading-relaxed'>
          This Section 11 will not cancel, terminate, or modify any nondisclosure or confidentiality agreements
          previously entered into by the Parties. The use and disclosure of Confidential Information shared in
          connection with this Agreement will be governed by the confidentiality terms of this Agreement and nothing in
          the previously entered agreements will limit the license or other rights granted to either Party in connection
          with access or use of the Offerings and related data.
        </p>

        <h2 class='mt-12 mb-6 text-2xl font-[650] tracking-[-.01em]'>
          12. Disclaimers; Limitations of Liability; Indemnification
        </h2>

        <h3 class='mb-4 text-xl font-[600]'>12.1. Disclaimers.</h3>
        <p class='mb-4 text-base leading-relaxed uppercase'>
          THE OFFERINGS ARE PROVIDED BY BLUEALPHA ON AN "AS IS" AND "AS AVAILABLE" BASIS. OTHER THAN ANY REPRESENTATIONS
          AND WARRANTIES EXPRESSLY SET OUT IN THIS AGREEMENT, AND TO THE EXTENT PERMITTED BY APPLICABLE LAW, BLUEALPHA
          AND ITS AFFILIATES, OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, PARTNERS, LICENSORS AND SERVICE PROVIDERS
          EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, REGARDING THE
          OFFERINGS, INCLUDING WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, ACCURACY, RELIABILITY,
          TITLE, NON-INFRINGEMENT, INTERFERENCE WITH QUIET ENJOYMENT, IMPLIED WARRANTIES ARISING FROM A COURSE OF
          DEALING OR COURSE OF PERFORMANCE, AND ANY UNDERTAKINGS. BLUEALPHA DOES NOT WARRANT THAT THE OFFERINGS OR
          ACCESS TO OR USE THEREOF WILL OPERATE UNINTERRUPTED OR WITHOUT DELAY OR BE ERROR FREE OR FREE FROM CORRUPTION,
          ATTACK, VIRUSES, INTERFERENCE OR OTHER SECURITY INTRUSION, OR THAT ALL DEFECTS WILL BE CORRECTED. BLUEALPHA
          MAKES NO WARRANTY CONCERNING ACCURACY, AVAILABILITY, INTEGRITY, TIMELINESS OR COMPLETENESS OF ANY RESULTS,
          DATA OR INFORMATION UTILIZED, STORED OR TRANSMITTED AS PART OF THE OFFERINGS, OR OBTAINED OR DERIVED THROUGH
          THE ACCESS TO OR USE OF THE OFFERINGS. CUSTOMER ACKNOWLEDGES THAT THE OFFERINGS ARE NOT INTENDED OR SUITABLE
          FOR USE IN SITUATIONS OR ENVIRONMENTS WHERE THE FAILURE OR TIME DELAYS OF, OR ERRORS OR INACCURACIES IN SUCH
          RESULTS, DATA OR INFORMATION COULD LEAD TO INJURY, ILLNESS, DEATH, PERSONAL INJURY, BUSINESS INTERRUPTION OR
          SEVERE PHYSICAL OR ENVIRONMENTAL DAMAGE. BLUEALPHA MAKES NO WARRANTY THAT THE OFFERINGS WILL MEET CUSTOMER'S
          NEEDS AND REQUIREMENTS. CUSTOMER ACKNOWLEDGES THAT ACCESS TO OFFERINGS MAY BE SUBJECT TO LIMITATIONS, DELAYS
          AND OTHER PROBLEMS INHERENT IN THE USE OF INTERNET AND ELECTRONIC COMMUNICATIONS. BLUEALPHA IS NOT RESPONSIBLE
          FOR DELAYS, DELIVERY FAILURES OR DAMAGE THAT MAY RESULT FROM SUCH PROBLEMS. UNLESS OTHERWISE STATED EXPRESSLY
          IN WRITING, BLUEALPHA WILL HAVE NO OBLIGATION TO SUPPORT, OR BE LIABLE IN ANY WAY FOR, ANY VERSION OF THE
          OFFERINGS OTHER THAN THE CURRENT VERSION AND IMMEDIATELY PRIOR RELEASED VERSION OF THE OFFERINGS. CUSTOMER IS
          SOLELY RESPONSIBLE FOR THE IMPLEMENTATION AND MANAGEMENT OF ANY CAMPAIGNS, REGARDLESS OF WHETHER CUSTOMER OR
          BLUEALPHA IS DIRECTLY MANAGING THEM AND/OR ADDING OR REMOVING GEO TARGETS TO CAMPAIGNS.
        </p>
        <p class='mb-4 text-base leading-relaxed uppercase'>
          CUSTOMER WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO ITS DEVICES, COMPUTERS OR LOSS OF DATA THAT RESULTS FROM
          ITS ACCESS TO AND USE OF THE OFFERINGS.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>12.2 Limitations of Liability.</h3>
        <p class='mb-4 text-base leading-relaxed uppercase'>
          IN NO EVENT WILL BLUEALPHA OR ITS AFFILIATES, OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, PARTNERS, LICENSORS AND
          SERVICE PROVIDERS HAVE ANY LIABILITY (DIRECTLY OR INDIRECTLY) FOR ANY INCIDENTAL, SPECIAL, INDIRECT,
          CONSEQUENTIAL OR PUNITIVE DAMAGES; LOSS OF PROFITS OR REVENUE; BUSINESS INTERRUPTION OR LOSS OF USE; LOSS OF
          DATA; COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES OR OTHER COVER; OR DAMAGES RESULTING FROM FORCE
          MAJEURE. BLUEALPHA'S AGGREGATE LIABILITY ARISING OUT OF OR RELATING TO THIS AGREEMENT OR ANY OFFERING WILL NOT
          EXCEED THE GREATER OF (A) THE AMOUNTS PAID BY CUSTOMER TO BLUEALPHA FOR THE RELEVANT OFFERING UNDER THE ORDER
          FORM IN THE THREE (3) MONTHS BEFORE THE DISPUTE, AND (B) ONE HUNDRED DOLLARS ($100.00). THE LIMITATIONS ON
          LIABILITY IN THIS AGREEMENT WILL APPLY TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW TO ANY DAMAGES OR
          OTHER LIABILITY, HOWEVER CAUSED AND REGARDLESS OF THE THEORY OF LIABILITY, WHETHER BASED ON CONTRACT, TORT
          (INCLUDING NEGLIGENCE AND STRICT LIABILITY), INDEMNIFICATION, RECOURSE, STATUTE OR OTHERWISE, AND EVEN IF
          BLUEALPHA OR ITS AFFILIATES, SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, PARTNERS, LICENSORS AND
          SERVICE PROVIDERS HAVE BEEN ADVISED OF THE POSSIBILITY OF THE LIABILITY OR THE LIABILITY IS OTHERWISE
          FORESEEABLE, AND REGARDLESS OF WHETHER THE LIMITED REMEDIES IN THIS AGREEMENT FAIL OF THEIR ESSENTIAL PURPOSE.
          NOTHING IN THIS AGREEMENT PURPORTS TO RESTRICT OR EXCLUDE BLUEALPHA'S LIABILITY FOR (A) DEATH OR PERSONAL
          INJURY CAUSED BY BLUEALPHA'S WILLFUL INTENT OR GROSS NEGLIGENCE OR (B) CUSTOMER'S DAMAGES OR LOSSES CAUSED BY
          BLUEALPHA'S FRAUD.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>12.3. Indemnification.</h3>
        <p class='mb-8 text-base leading-relaxed'>
          Customer will, at Customer's expense and at BlueAlpha's option, defend, indemnify and hold harmless BlueAlpha
          and its Affiliates, partners, licensors and service providers and each of their officers, employees,
          independent contractors and agents (collectively, the "BlueAlpha Indemnified Parties") against any claim, suit
          or proceeding ("Claim") arising out of or relating to: (a) Customer's or any of its Authorized Users' access
          to or use of Offerings; (b) Customer's breach (or any acts or omissions that, if true, would be a breach) of
          this Agreement; and (c) Customer's breach or alleged breach of any Applicable Law. Customer may not enter into
          a settlement under this Section 12.3 without BlueAlpha's prior written approval. BlueAlpha will provide
          Customer (i) prompt written notice of, and (ii) all information and assistance reasonably requested by
          Customer in connection with the defense or settlement of any such Claim.
        </p>

        <h2 class='mt-12 mb-6 text-2xl font-[650] tracking-[-.01em]'>13. Term; Termination; Suspension</h2>

        <h3 class='mb-4 text-xl font-[600]'>13.1 Term.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          The term of this Agreement will remain in effect until expiration or termination in accordance with these
          Terms (the "Term"). This Agreement will remain in effect during the term set forth in the Order Form (and for
          any subsequent renewals thereof in accordance with these Terms). For clarity, the term of the Order Form will
          be set forth in the Order Form.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>13.2. Termination.</h3>

        <p class='mb-2 text-base font-semibold'>13.2.1. For Breach.</p>
        <p class='mb-4 text-base leading-relaxed'>
          Either Party may terminate this Agreement and the Order Form if the other Party is in material breach of this
          Agreement and fails to cure such breach within thirty (30) days after written notice of the breach.
          Notwithstanding the foregoing, BlueAlpha may (a) terminate this Agreement and the Order Form if Customer is in
          material breach of its obligation to pay Fees and Customer fails to cure such breach within seven (7) days
          after written notice of the breach, and (b) terminate immediately the Order Form upon written notice to
          Customer if BlueAlpha reasonably believes Customer is failing to comply with its obligations under Section
          7.2.
        </p>

        <p class='mb-2 text-base font-semibold'>13.2.2. For Insolvency or Change of Control.</p>
        <p class='mb-4 text-base leading-relaxed'>
          Either Party may terminate this Agreement and the Order Form upon written notice to the other Party if the
          other Party: (a) becomes subject to bankruptcy or insolvency proceedings; (b) becomes insolvent, makes an
          arrangement with or affecting its creditors (including an assignment for the benefit of a creditor) to
          commence a process of liquidation; (c) has a receiver or trustee appointed; (d) ceases or threatens to cease
          into carry on business; or (e) claims the benefit of any statutory moratorium. BlueAlpha may terminate this
          Agreement in connection with the sale of its business, whether by a sale of assets, sale of stock,
          reorganization, merger or otherwise.
        </p>

        <p class='mb-2 text-base font-semibold'>13.2.3. Effect of Termination or Expiration.</p>
        <p class='mb-4 text-base leading-relaxed'>
          Except as may be expressly provided in the Order Form, upon expiration or termination the Order Form and/or
          this Agreement, Customer's rights with respect to the applicable Offerings will end. Except as may be
          expressly provided in the Order Form, immediately upon expiration or termination of the Order Form or this
          Agreement, Customer will: (a) stop all access to and use of the applicable Offerings; and (b) uninstall and
          destroy any and all copies of any Documentation, tools, materials, services or information made available by
          BlueAlpha in connection with or as part of the applicable Offerings. At BlueAlpha's request, Customer will
          certify in writing to BlueAlpha its compliance with the provisions of this Section 13.2.4. Customer will
          remain liable for all fees and charges for the Offerings.
        </p>

        <p class='mb-2 text-base font-semibold'>13.2.4. Survival.</p>
        <p class='mb-4 text-base leading-relaxed'>
          The following sections of this Agreement, and any other sections and provisions of this Agreement and the
          Order Form which by their nature must survive for interpretation or enforcement of this Agreement, will
          survive expiration or termination for any reason: Section 1 (Definitions), Section 7.2 (License Restrictions),
          Section 8.4 (License to Deliverables), Section 8.5 (Ownership of Work Product), Section 10 (Ownership),
          Section 11 (Confidentiality), Section 12 (Disclaimers; Limitations of Liability; Indemnification), Section
          13.2.4 (Effect of Termination or Expiration), Section 13.2.5 (Survival) and Section 14 (General).
        </p>

        <h3 class='mb-4 text-xl font-[600]'>13.3. Suspension.</h3>

        <p class='mb-2 text-base font-semibold'>13.3.1. Suspension of an Offering.</p>
        <p class='mb-4 text-base leading-relaxed'>
          BlueAlpha may suspend Customer's right to access or use any portion or all of any Offering immediately upon
          notice to Customer if BlueAlpha determines, in its sole discretion, to suspend provision of such Offering on a
          general and temporary basis (including for scheduled maintenance). BlueAlpha will use reasonable efforts to
          notify Customer in advance of any such suspension.
        </p>

        <p class='mb-2 text-base font-semibold'>13.3.2. Suspension for Cause.</p>
        <p class='mb-8 text-base leading-relaxed'>
          In addition to and without limiting BlueAlpha's suspension rights under Section 3.2 and Section 6.3, BlueAlpha
          may suspend Customer's right to access or use any portion or all of any Offering if BlueAlpha believes in good
          faith that Customer's conduct or failure to act: (a) may pose a security risk or otherwise adversely impact
          Offerings, systems or other users; (b) constitutes or enables tampering with, removing, disabling or otherwise
          limiting the effectiveness of any technical protections; (c) may subject BlueAlpha or its Affiliates,
          licensors and service providers to liability; (d) constitutes a breach of Section 7.2; or (e) Customer is more
          than thirty (30) days overdue on any payment obligation under this Agreement in accordance with Section 6.3.
          In the event of any such suspension, BlueAlpha will provide promptly Customer with notice of the suspension
          and a reasonably detailed explanation of the reason for such suspension. BlueAlpha will use commercially
          reasonable efforts to re-establish Customer's access to such Offering after BlueAlpha determines, in its sole
          discretion, that the cause of the suspension has been resolved to BlueAlpha's satisfaction. If Customer fails
          to cure and resolve the cause of the suspension, then notwithstanding any cure periods set forth in this
          Agreement or other termination rights in this Agreement, BlueAlpha may, but is not required to, terminate this
          Agreement immediately upon written notice to Customer. Any suspension under this Section will not excuse
          Customer's payment obligations under this Agreement during the period of such suspension.
        </p>

        <h2 class='mt-12 mb-6 text-2xl font-[650] tracking-[-.01em]'>14. General</h2>

        <h3 class='mb-4 text-xl font-[600]'>14.1. Performance by BlueAlpha.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          BlueAlpha will have the right to use third party service providers, subcontractors and Affiliates to perform
          any of its obligations and exercise any of its rights under this Agreement. In such event, BlueAlpha will
          remain responsible for performance of such obligations and exercise of rights.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>14.2. Force Majeure.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Neither Party will be liable for any failure or delay in performance under this Agreement (other than for
          delay in the payment of Fees) to the extent due to unforeseen circumstances or causes beyond its reasonable
          control and occurring without its fault and negligence, including acts of God, earthquake, fire, health
          emergency, flood, sanctions, embargoes, trade controls, strikes, lockouts or other labor disturbances,
          pandemic, civil unrest, failure, unavailability or delay of service providers or licensors, riots, terrorist
          or other malicious or criminal acts, war, failure or interruption of the internet or third party internet
          connections or infrastructure, power failures, compliance with any law or governmental order, rule, regulation
          or direction, acts of civil and military authorities, severe weather and other similar events beyond the
          reasonable control of the affected Party ("Force Majeure"). The affected Party will give the other Party
          prompt written notice (when possible) of the failure to perform and use its reasonable efforts to limit the
          resulting delay in its performance. The dates by which any performance of obligations is scheduled to be met
          will be extended for a period of time equal to the time lost due to any delays so caused. For the avoidance of
          doubt, Customer will not be released from its payment obligations under this Agreement as a result of a Force
          Majeure event.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>14.3. Audit.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          During the Term and for one (1) year thereafter, BlueAlpha or BlueAlpha's designated agent may, upon
          reasonable notice to Customer, audit Customer's books, records and facilities to verify the installation of,
          access to, and use of any Offerings by Customer and its Authorized Users and Customer's compliance with the
          terms and conditions of this Agreement and any Applicable Law. Customer may not take any steps to avoid or
          defeat the purpose of any such verification measures and will cooperate with BlueAlpha so as to facilitate
          BlueAlpha's audit. If any audit reveals an underpayment by Customer, BlueAlpha may invoice Customer for such
          underpayment in accordance with BlueAlpha's standard policies. Customer will pay such invoice in accordance
          with the payment terms of this Agreement. BlueAlpha will pay for any audits, unless an audit reveals that
          Customer has underpaid by more than five percent (5%) of the fees in any three (3)-month period, in which case
          Customer will reimburse BlueAlpha for its reasonable audit costs. BlueAlpha reserves the right to seek any
          other remedies available at law or in equity.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>14.4. Trade Control Laws.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Each Party will comply with all applicable sanctions, export control, and similar laws and regulations of the
          United States and other countries and regions to the extent not inconsistent with the laws and regulations of
          the United States.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>14.5. Anti-Bribery and Anti-Corruption.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Customer represents and warrants that it complies with all applicable laws, rules and regulations relating to
          antibribery or anticorruption, including those prohibiting the bribery of government officials, and will
          remain in compliance with all applicable laws, rules and regulations while providing, accessing and using the
          Offerings; that it will not authorize, offer or make payments directly or indirectly to any government
          official in violation of applicable laws, rules and regulations; and that no part of any payments received by
          it (whether as compensation or otherwise) from any third party will be used for any purpose that constitutes a
          violation of any applicable laws, rules or regulations.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>14.6. Government Rights.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          To the extent Customer or any of Customer's Authorized Users are government entities, the following terms
          apply: the Offerings and all associated Documentation are "commercial computer software" and related
          commercial "computer software documentation" as those terms are defined in the Federal Acquisition Regulation
          ("FAR") 2.101 and U.S. Department of Defense ("DoD") FAR Supplement ("DFARS") 252.227-7014(a) or similar
          provisions effective in the applicable jurisdiction, and thus are subject to the policies and requirements of
          FAR 12.212 or, for DoD, DFARS 227.7202, or similar applicable policies or requirements. All government
          entities will acquire the Offering and all associated Documentation or other related technical data subject to
          this Agreement as required in FAR 12.212 (Computer Software) or DFARS 227.7202 and their respective
          successors, as applicable, except to the limited extent a government end user is prohibited by the laws of its
          jurisdiction from accepting such terms. If and to the extent any provision of this Agreement is so prohibited,
          then such provisions will be deemed modified only to the extent reasonably necessary to conform to applicable
          law, but to give maximum effect to this Agreement as written. This Section 14.6 is in lieu of, and supersedes,
          any other FAR, DFARS, or other clause or provision that addresses government rights in computer software or
          technical data.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>14.7. Assignment.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Customer may not, directly or indirectly, assign or transfer this Agreement, or delegate any of its rights or
          obligations under this Agreement, whether by operation of law, contract or otherwise, without the prior
          written consent of BlueAlpha, and any attempt to do so in breach of the foregoing will be null and void.
          BlueAlpha may assign this Agreement and delegate its obligations under this Agreement at any time and without
          notice. Subject to the foregoing, this Agreement will be binding upon and inure to the benefit of the Parties
          and their respective successors and assigns.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>14.8. Notice.</h3>
        <p class='mb-2 text-base font-semibold'>14.8.1. To BlueAlpha.</p>
        <p class='mb-4 text-base leading-relaxed'>
          Customer will send any notices to BlueAlpha via email to contact@bluealpha.ai or by postal mail or delivery
          service to BlueAlpha Labs Inc, 8 The Green #19771, Dover, DE, 19901, United States. Such notices will be
          effective when received by BlueAlpha.
        </p>
        <p class='mb-2 text-base font-semibold'>14.8.2. To Customer.</p>
        <p class='mb-4 text-base leading-relaxed'>
          BlueAlpha will deliver all notices, approvals or other communications required or permitted under this
          Agreement: (a) via e-mail to the email address provided in Customer's account; or (b) in any other manner
          deemed reasonable by BlueAlpha that involves specific notification to Customer including sent by postal mail
          or delivery service to Customer's address on file or Customer's Agent of Service of Civil Process.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>14.9. Publicity.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          Neither Party will make any public announcement or comment or issue any press release relating to this
          Agreement or its subject matter without the prior written approval of the other Party except as required by
          law or by any legal or regulatory authority. Notwithstanding the foregoing, BlueAlpha and its designees may
          identify Customer as a customer of BlueAlpha and use Customer's name and logo for the purpose of advertising
          or publicizing the Offerings (but not to brand the Offerings).
        </p>

        <h3 class='mb-4 text-xl font-[600]'>14.10. Independent Contractors.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          BlueAlpha and Customer are independent contractors, and neither Party, nor any of their respective Affiliates,
          is an agent, partner or joint-venturer of the other Party for any purpose or has the authority to bind the
          other Party.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>14.11. Entire Agreement; No Waiver.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          This Agreement, including all schedules, exhibits and addenda attached to or otherwise referenced in this
          Agreement, including the Product-Specific Terms, constitutes the entire agreement and understanding of the
          Parties relating to the subject matter of this Agreement and supersedes any previous agreement or
          understanding between the Parties in relation to such subject matter. Failure to enforce or exercise any
          provision of this Agreement is not a waiver of such provision unless such waiver is specified in writing and
          signed by the party against which the waiver is asserted.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>14.12. Modification.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          No modification or amendment to this Agreement will be valid unless it is in writing and signed by or on
          behalf of each of the Parties to this Agreement. No oral agreement, course of dealing, or trade usage will be
          deemed to modify this Agreement. Notwithstanding the foregoing, to the extent such modifications do not
          materially expand Customer's obligations, increase Customer's Fees, or limit Customer's rights under the
          Agreement, BlueAlpha may make reasonable modifications to this Agreement and will use reasonable efforts to
          provide Customer with reasonable advance written notice of such modifications.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>14.13. Severability; Interpretation.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          If and to the extent any portion of this Agreement is held to be invalid or unenforceable, then the remaining
          portions of this Agreement will remain in full force and effect. Any invalid or unenforceable portions will be
          interpreted to effect the intent of the original portion. If such construction is not possible, the invalid or
          unenforceable portion will be severed from this Agreement, but the rest of the Agreement will remain in full
          force and effect. Any reference in this Agreement to "days" are to calendar days unless otherwise specified.
          The words "including" and "for example" or "e.g.," and words of similar import, are not limiting or exclusive
          and will be deemed followed by "without limitation," whether or not such language is included. Section and
          other headings are for ease of reference only and are not to be used to interpret the meaning of any
          provision. Any rights and remedies provided for in these Agreement are cumulative and are in addition to, and
          not in lieu of, any other rights and remedies available under applicable law.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>14.14. No Third-Party Beneficiaries.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          This Agreement does not create any third party beneficiary rights in any Person that is not a party to this
          Agreement except for BlueAlpha's Affiliates, licensors and service providers as set forth in the
          Product-Specific Terms and as applicable.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>14.15. Counterparts; Execution.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          This Order Form may be executed in any number of counterparts and by the Parties to it on separate
          counterparts, each of which will be an original, but all of which together will constitute one and the same
          instrument. The Agreement is not effective until each Party has executed at least one counterpart of the Order
          Form. Signatures to the Order Form may be made and delivered electronically.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>14.16. Dispute Resolution.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          In the event of a claim, dispute or controversy (each, a "Dispute") arising from or in connection with this
          Agreement, prior to the commencement of any arbitration proceedings as provided in Section 14.17, the Parties
          will attempt in good faith to resolve the Dispute by following the escalation path below. A Party who intends
          to seek arbitration must first send a written notice of the Dispute to the other Party. Such notice must: (a)
          describe the nature and basis of the Dispute in detail; and (b) set forth the specific relief sought. The
          Parties will use good faith efforts to resolve the Dispute directly, but if the Parties do not reach an
          agreement to do so within sixty (60) days after the notice is received, either Party may commence an
          arbitration proceeding as provided in Section 14.17.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>14.17. Arbitration.</h3>
        <p class='mb-4 text-base leading-relaxed'>
          This Agreement is governed in accordance with the laws of the State of Delaware, U.S.A., without reference to
          conflict of laws principles. Subject to Section 14.16, any Dispute arising from or in connection with this
          Agreement will be resolved by binding arbitration in the State of Delaware in accordance with the United
          States Arbitration Act (9 U.S.C. 1 et seq.), notwithstanding any choice of law provision in this Agreement,
          under the Commercial Arbitration Rules of the American Arbitration Association.
        </p>

        <h3 class='mb-4 text-xl font-[600]'>14.18. Class Action Waiver.</h3>
        <p class='mb-8 text-base leading-relaxed uppercase'>
          Any arbitration will be conducted in the Parties' individual capacities only and not as a class action or
          other representative action. The Parties each expressly waive the right to file a class action or seek relief
          on a class basis either in arbitration or in court. TO THE MAXIMUM EXTENT PERMITTED BY LAW, EACH PARTY MAY
          BRING CLAIMS AGAINST THE OTHER PARTY ONLY IN THEIR INDIVIDUAL CAPACITIES, AND NOT AS A PLAINTIFF OR CLASS
          MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING, WHETHER IN ARBITRATION OR IN ANY COURT. FURTHER,
          UNLESS BOTH CUSTOMER AND BLUEALPHA AGREE OTHERWISE IN WRITING, AN ARBITRATOR OR JUDGE MAY NOT CONSOLIDATE MORE
          THAN ONE PARTICIPATING PUBLIC AGENCY'S CLAIMS AND MAY NOT OTHERWISE PRESIDE OVER ANY FORM OF A REPRESENTATIVE
          OR CLASS PROCEEDING. FOR AVOIDANCE OF DOUBT, CUSTOMER AND BLUEALPHA WILL RESOLVE ANY DISPUTE ON AN INDIVIDUAL,
          NON-REPRESENTATIVE, NON-CLASS BASIS IN ARBITRATION, BUT IF FOR ANY REASON SUCH DISPUTE PROCEEDS IN COURT,
          CUSTOMER AND BLUEALPHA WAIVE ANY RIGHT TO HAVE THE DISPUTE PROCEED AS A CLASS ACTION OR IN ANY REPRESENTATIVE
          CAPACITY WHATSOEVER. IF THE DISPUTE PROCEEDS IN COURT, CUSTOMER AND BLUEALPHA WAIVE ANY RIGHT TO A TRIAL BY
          JURY. If there is a determination that any term in this paragraph is void or unenforceable for any reason as
          to any claim, then the arbitration provision set forth above will be inapplicable as to that claim, and that
          claim will instead proceed through litigation in court rather than by arbitration, but only after the
          conclusion of the arbitration of any claim or dispute subject to the Parties' arbitration agreement.
        </p>
      </div>
    </div>
  </section>
</Layout>
