---
import { Font } from 'astro:assets'
import { ClientRouter } from 'astro:transitions'

type Props = {
  title: string
}

const { title } = Astro.props
---

<head>
  <meta charset='UTF-8' />
  <meta
    name='viewport'
    content='width=device-width'
  />
  <Font
    cssVariable='--font-sans'
    preload
  />
  <Font
    cssVariable='--font-mono'
    preload
  />
  <link
    rel='icon'
    type='image/svg+xml'
    href='/favicon.svg'
  />
  <link
    rel='sitemap'
    href='/sitemap-index.xml'
  />
  <link
    rel='alternate'
    type='application/rss+xml'
    title='BlueAlpha Case Studies'
    href='/case-studies/rss.xml'
  />
  <meta
    name='generator'
    content={Astro.generator}
  />
  <title>{title}</title>
  
  <!-- Google Tag Manager -->
  <script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5WKF4LXR');</script>
  <!-- End Google Tag Manager -->
  
  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  
  <!-- Instantly Tag -->
  <script is:inline id="vtag-ai-js" async src="https://r2.leadsy.ai/tag.js" data-pid="mbTfnCB2wFj9tibg" data-version="062024"></script>
  <!-- End Instantly Tag -->
  
  <ClientRouter />
</head>
