---
import { ButtonLink } from '#components/button-link.tsx'
import ContentActions from '#components/content2/content-actions.astro'
import ContentDescription from '#components/content2/content-description.astro'
import ContentTitle from '#components/content2/content-title.astro'
import Content from '#components/content2/content.astro'
import Section from './section.astro'
import { CallWithFounder } from '#components/call-with-founder.tsx'
import { Icon } from '#components/icon.tsx'
import ArrowRightIcon from '@heroicons/react/16/solid/ArrowRightIcon'
---

<Section>
  <Content>
    <ContentTitle>Take back control from black-box metrics</ContentTitle>
    <ContentDescription>
      Break free of opaque reporting, trim CAC, and unlock revenue with auditable, real-time insight.
    </ContentDescription>
    <ContentActions>
      <CallWithFounder href='https://cal.com/team/bluealpha/call-with-bluealpha' />
      <ButtonLink
        href='/case-studies'
        variant='outline'>
        See our case studies
        <Icon className='-me-1.5'>
          <ArrowRightIcon className='size-4' />
        </Icon>
      </ButtonLink>
    </ContentActions>
  </Content>
</Section>
