---
import { DesktopNav } from '#components/nav/desktop-nav.tsx'
import Head from '#components/head.astro'
import Footer from '#components/footer.astro'
import '#styles/global.css'
import { cx } from '#utils/cva.ts'

type Props = {
  className?: string
}

const { className }: Props = Astro.props
---

<!doctype html>
<html lang='en'>
  <Head title='BlueAlpha — Get Provable Impact from Your Marketing Spend' />
  <body class='bg-white font-sans text-stone-900 antialiased'>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src='https://www.googletagmanager.com/ns.html?id=GTM-5WKF4LXR'
        height='0'
        width='0'
        style='display:none;visibility:hidden'
      ></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <DesktopNav client:load />
    <main class={cx('relative z-10 rounded-b-4xl bg-white', className)}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
