---
import ContentDescription from '#components/content2/content-description.astro'
import ContentTitle from '#components/content2/content-title.astro'
import Content from '#components/content2/content.astro'
import { CardList } from './card-list'
import Section from './section.astro'
---

<Section>
  <Content>
    <ContentTitle>Do more with less</ContentTitle>
    <ContentDescription>
      Messy first-party data, walled-garden signals and black box metrics prevent your team from achieving consistent
      defendable incremental revenue.
    </ContentDescription>
  </Content>
  <CardList client:visible />
</Section>
